<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header"><h4>Latest Projects</h4></li>
      <% @latests_projects.each do |project| %>
      <li><%= link_to project.name, project %></a></li>
      <% end %>
  </ul>
</div>