<% edit_page ||= current_page?(edit_project_path(@project)) %>

<% if edit_page %>
  <form class="form-inline" id="user_to_add">
    <label>Add Users:</label>
    <%= collection_select 'post', 'user', User.all, :id, :email, { include_blank: true },
      { class: 'select_users_by_select2',
        id: 'add_user_to_project',
        data: { url: add_user_project_path(@project) } } %>
  </form>
<% else %>
  <h2>Team</h2>
<% end %>

<div class="team">
  <%= render 'team', edit_page: edit_page %>
</div>