<%= content_for :page_title do 'Dashboard' end %>

<h1>Dashboard</h1>

<div class="projects">
  <h5><p>Lasted Projects</p></h5>
  <%= render 'projects/list' %>
</div>

<div class="tasks">
  <p>Lasted Tasks</p>
  <% @tasks.each do |t| %>
    <%= render 'tasks/show', task: t, worktime: Worktime.new %>
  <% end %>
</div>