<%= content_for :page_title do 'Dashboard' end %>

<h1>Dashboard</h1>

<div class="row-fluid">
  <div class="span7">
    <div class="tasks">
      <h4>Lasted Tasks</h4></br>
      <% @tasks.each do |t| %>
        <%= render 'tasks/show', task: t, worktime: Worktime.new %>
      <% end %>
    </div>
  </div>

  <div class="projects span4 offset1">
    <h4>Lasted Projects</h4></br>
    <%= render 'projects/list' %>
  </div>
</div>
