  /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require select2
 *= require_tree .
 *= require_self
 */

/*
** Header
*/

#app-header .container {
  padding: 5px 0;
}

#app-header.navbar .nav > li:not(.app-profile-image),
#app-header .brand {
  margin-top: 5px;
}

#app-header.navbar .nav > li.app-profile-image img {
  border: 3px solid #fff;
}

#app-content {
  padding-top:60px;
}

a.brand:nth-child(2), a.brand:nth-child(3) {
  font-size: 14px;
  margin-left: 3px;
  padding-top: 12px;
}

a.brand:nth-child(3) {
  margin-left: -10px;
}

.span12 > ul > div:nth-child(3) > div:nth-child(1) > li {
  float: left;
  margin-left: 15px;
  list-style: none;
  font-size: 18px;
  padding: 1px 4px;
}

.tasks > ul {
  list-style: none;
  margin-left: 0;
}

#background-tasks > ul:nth-child(1) {
  list-style: none;
}

.span12 > ul > div:nth-child(3) > div:nth-child(1) > li:nth-child(1) {
  margin-left: -1px;
}

#background-tasks {
  padding: 19px;
  border: 1px solid rgb(227,227,227);
  background-color: rgb(245,245,245);
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
}

#latest-task {
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  padding: 19px;
  border: 1px solid rgb(227,227,227);
  background-color: rgb(245,245,245);
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;

}

.nav-header > h4:nth-child(1) {
  color: black;
  margin-top: 0;
}

.well {
  margin-top: 8px;
}

/*#div123 {
  border: 1px solid black
}*/

