  /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require select2
 *= require bootstrap-datetimepicker
 *= require_tree .
 *= require_self
 */

/*
** Header
*/

.brand sub {
  font-size: 60%;
}

.text-account {
  margin-left: 5px;
  display: inline-block;
}

.text-account.in-team {
  line-height: 15px;
  height: 30px;
}

.span12 > ul > div:nth-child(3) > div:nth-child(1) > li {
  float: left;
  margin-left: 15px;
  list-style: none;
  font-size: 18px;
  padding: 1px 4px;
}

.tasks > ul {
  list-style: none;
  margin-left: 0;
}

.background-tasks > ul:nth-child(1) {
  list-style: none;
}

.span12 > ul > div:nth-child(3) > div:nth-child(1) > li:nth-child(1) {
  margin-left: -1px;
}

.app-task {
  padding: 19px;
  border: 1px solid rgb(227,227,227);
  background-color: rgb(245,245,245);
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 25px;
}

.nav-header > h4:nth-child(1) {
  color: black;
  margin-top: 0;
}

.project_page .app-header-actions {
  margin: 15px 0;
}

.app-new-task {
  margin-top: 25px;
  width: 100%;
  max-width: 1170px;
}

.app-new-task input {
  font-size: 40px;
  line-height: 50px;
}

.app-new-task input:first-child {
  height: 70px;
  width: 990px;
  padding: 10px;
}

.app-new-task input:last-child {
  height: 92px;
  width: 160px;
  padding: 10px;
}

.well {
  margin-top: 8px;
}

#myTabContent p {
  padding-top: 15px;
  margin-left: 20px;
}

#myTabContent img {
  margin-bottom: 15px;
}

#times_worked h3 {
  border-left: 4px solid #98b3fa;
}

#times_worked .app-inner-acccordion {
  margin-left: 20px;
}

#team-table td:nth-child(2) {
  text-align: center;
}

#team-table td:nth-child(3) {
  text-align: right;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) {
  #app-report-page #app-sidebar {
    margin: 80px 20px 0 0;
    position: fixed;
    top:0;
    right: 0;
  }

  #app-content {
    padding-top:60px;
  }
}

/*simple_form overrides*/
.simple_form {
  margin: 0 0 0 0;
}

.pagination {
  text-align: center;
}